<!-- types:
1:  local images.
2: url to video.
3: local mp4
-->

{% assign sources = include.sources | split: '; '%}
{% assign titles = include.titles | split: '; '%}
{% assign descriptions = include.descriptions | split: '; '%}
{% assign types = include.types | split: '; '%}
{% assign sizes = include.sizes | split: '; '%}
{% assign gtitle = include.gtitle %}
{% assign gdescription = include.gdescription %}

<table>
  <tr>
    {% for source in sources %}
    {% assign size = sizes[forloop.index0] | split: '-' %}
    <td style="border: none; width: {{100 | divided_by:sources.size}}%;">
    <figure>
        {% if types[forloop.index0] == "1" %}
        <img style="width: {{size[0]}}; height: {{size[1]}};" src="{{ site.url | absolute_path}}/assets/images/{{ source }}" alt="">
        {% elsif types[forloop.index0] == "2" %}
        <div class="container">
        <iframe src="{{ source }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        {% elsif types[forloop.index0] == "3" %}
        <video muted autoplay width="{{size[0]}}" height="{{size[1]}}" loop type="video/mp4" controls>
          <source src="{{ site.url | absolute_path}}/assets/images/{{ source }}">
        </video>
        {% endif %}
        {% if titles[forloop.index0] %}
        <figcaption><strong>{{titles[forloop.index0]}}</strong> {{ descriptions[forloop.index0] }}</figcaption>
        {% endif %}
    </figure>
    </td>
    {% endfor %}
  </tr>
</table>
{% if gtitle %}
<figcaption style="margin-top: -2.5em; margin-bottom: 2.5em;"><strong>{{gtitle}}</strong> {{ gdescription }}</figcaption>
{% endif %}
